md-card md-card-title md-card-title-text:only-child span.md-subhead {
  padding-top: 0;
}

dl {
  margin-bottom: 0;
}

dt {
  float: left;
  clear: left;
  opacity: 0.66;

  span::after {
    content: ":";
  }
}

dd {
  margin: 0 0 0 5.6em;
  padding: 0.2em 0 0.5em 0;
}